    h1 {
      text-align: center;
      font-family: 'Museo 310','Helvetica Neue', Helvetica, sans-serif;
      font-size: 300%;
      margin-bottom: 20px;
      color:#FFFFFF;
    }
    
    h4 {
    text-decoration: underline;
    }
    
    input {
      color:#000000
    }
    
    #mainrow {
      padding-bottom:10px;
    }
    
    body {
      background: #10303B;
        font-family: 'Museo 310','Helvetica Neue', Helvetica, sans-serif;
      color:#FFFFFF;
    }
    
    svg {
      width:100%;
      padding: 0px 20px 0px 20px;
    }
    
    .popup {
      color:#000000;
    }
    
    #svg {
      width: 100%;
      border: 2px solid #BDBDBD;
      height: auto;
      background: #FFFFFF;
    }
    #outermapdiv {
      margin-top: 10px;
      padding: 0px 0px 0px 0px;
    }
    #outerbutton {
      padding: 0px 0px 0px 0px;

    }
     footer a {
      color:#FFFFFF;
    }

    #offTheShelf {
      width: 100%;
      background-color: #449bb5;
      opacity: 0.9;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
      font-family: 'Museo 310','Helvetica Neue', Helvetica, sans-serif;
      font-size: 150%;
      vertical-align:bottom;
      margin: 16px;
    }

    #offTheShelf:active {
      background-color: #449bb5;
      opacity: 0.9;
      color: #FFFFFF;
    }
    
    #offTheShelf:hover {
      outline: 0;
      opacity: 0.75;
      background-color: #449bb5;
    }

    #offTheShelf:focus {
      outline: 0;
      opacity: 0.75;
      background-color: #449bb5;
    }
    
    .popup {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        width: 200px;
        border: 1px #ccc solid;
        border-radius: 6px;
        box-shadow: #333 2px 2px 4px;
        padding: 8px;
        font-family: 'Museo 310','Helvetica Neue', Helvetica, sans-serif;
    }
    .popup h2 {
        margin: 0 0 1rem 0;
    }
    
    #swatches
    {
    text-align:center;
    }
    
    .cswatch1  {
        width:30px;
        height:30px;
        border:2px solid black;
        margin:0;
        background-color:#9FCD99;
    }

   .cswatch2  {
        width:30px;
        height:30px;
        border:2px solid black;
        margin:0;
        background-color:#F26C64;
    }
    
   .cswatch3  {
    width:30px;
    height:30px;
    border:2px solid black;
    margin:0;
    background-color:#FFDD71;
    }
      
    footer {
    font-size: 14px;
    padding: 0px 0px 20px 20px;
    background: #449bb5;
    color: #fff;
    }
    
    #MDlogo {
      padding-right:10px;
    }